 .email-preview {
     display: grid;
     grid-template-columns: 30px 1fr 70px;
     font-size: 1em;
     background: #fff;
    //  color: rgb(68, 67, 67);
    color: $clr1;
     border-bottom: 1px solid #ddd;
     padding: 7px;
     cursor: pointer;
     transition: background-color 0.3s, box-shadow 0.3s;
 }

 .email-preview.mark-line-as-read {
    background-color: #e9eef6;
 }

 .email-line {
     display: grid;
     grid-template-columns:220px 1fr 70px;
   
 }

 .email-line.subject,
 .email-line.from,
 .email-line.to,
 .email-line.sent-at {
     margin-right: 10px;
 }

 .email-not-read {
     font-weight: 600;
     color: black;
 }

 .email-preview-from {
     min-width: 150px;
 }

 .main-data {
     flex: 1;
     margin-left: 15px;
     padding-right: 20px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .email-preview-sent-at {
     text-align: right;
 }

 .preview-trash {
    align-items: right;
}
 .email-preview:hover {
     border:1px solid  #ccc;
     box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
 }

 .icon {
     height: 20px;
     width: 20px;
     margin: 2px;
     cursor: pointer;
 }

 .control-icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
 }