.email-filter {
    display: flex;
    margin: 5px 5px 0 0;
    background: #fff;
    padding: 10px;
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid #e7e6e6;

    select {
        @include filter-btn;
    }

    .sort-button {
        @include centered-flex;
        @include filter-btn;
        min-width: 80px;
        padding-right: 5px;
    }
}