.index-header {
    background: $clr2;
    padding-left: 5px;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
   flex:1;
  
}

.search-area{
    @include centered-flex;
    margin-top:8px;
    padding-right: 10px;
    padding-left:10px;
    height: 45px;
    border-radius: 25px;
    background:#daeaf8;
   
}
.avatar {
    margin:10px;

}


.search-area-clicked,
.search-area-clicked * {
  background-color: white;
  /* Add any other styles you want to apply when the search-area is clicked */
}


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}

.search-form input {
    border:none;
    background:inherit;
    width:40em;
}

.search-form input:focus {
    outline: none;
} 

.search-form button {
    border:none;
    background:inherit;
    transition: background-color 0.3s, box-shadow 0.1s;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #b8c2cf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

/*mobile*/
@media screen and (max-width: 768px) {
    .search-form input {
        
        width:12em;
    } 
}
/*
.search-form button img:hover {
    background-color:inherit;
}

*/

