.user-msg {
    background-color: lightgray;
    padding: 0.3em;
    position: fixed;
    bottom: 2em;
    right: 2em;
    color: white;
    font-weight:500;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.user-msg.success {
    background-color: rgb(32, 185, 78);
}

.user-msg.error {
    background-color: rgb(197, 56, 80);
}

.user-msg button {
    float: right;
    margin: 1em;
    width: fit-content;
}