.email-index {
    
  
    display: flex;
    flex-direction: column;
    background:  #f0f4f9;
}
.main-filter {
    /* margin-top:10px; */
}

.main-content {
    /* flex:1; */
    /* padding: 20px; */
}
