.email-details {
    display:flex;
    font-size: 1em;
    background-color: #fff;
    padding:20px
  

}

.email-details .email-subject {
    font-size:2em;    
}

.main-content {
    flex-grow: 1;
  
}

.email-date {
    font-style:italic;
}