.email-index {
    
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.main-filter {
    /* margin-top:10px; */
}

.main-content {
    /* flex:1; */
    /* padding: 20px; */
}
