.home {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}

.login-area {
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 10px;

}

.login-img {
   height: 200px;
   width: 200px;
   

}
.user-data {
    padding: 5px;
}

.input-box {
    text-align: left;
    padding:5px;
    background-color: aliceblue;
    border-color: rgb(166, 166, 226);
    width: 300px;
    height: 40px;
    border-radius: 5px;
}

.home h1 {
    font-size: 40px;
    margin: 10px;
}

.login-button {
    margin-top: 30px;
    align-content: left;
    background-color:  rgb(59, 59, 196);
    color: white;
    height: 35px;
    width: 70px;
    border: none;
    border-radius: 5px;
}