.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   

}

.sign-in-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid ;
    min-width: 30em;
    min-height: 30em;
    border-radius: 2em;
    }

.mister-email-img {
   height: 15em;
   width: 15em;
}


/* 
.home-page input {
    padding:0.5em;
    margin:0.3em;
    background-color: aliceblue;
    border-color: rgb(165, 165, 237);
    width: 20em;
    height: 2.5em;
    border-radius: 0.5em;
} */

.btn-signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:1em;
}

.additional-links {
    display:flex;
    flex-direction: raw;
    align-items: center;
}