// COLOR PALETTE
$clr1: rgb(68, 67, 67);
$clr2: #f0f4f9; // background
$clr3: #daeaf8; //darker background
    // $clr2: #000;
// $clr3: #fff;
// $clr4: darken($clr3, 40%);
// $clr5: #2d2d2d;

// // LAYOUT
// $layoutPadding: 20px;

// // LAYOUT BREAKPOINTS
// $break-narrow: 1200px;
// $break-normal: 1360px;
// $break-wide: 1920px;

// $padded-break-narrow: $break-narrow + $layoutPadding * 2;
// $padded-break-normal: $break-normal + $layoutPadding * 2;
// $padded-break-wide: $break-wide + $layoutPadding * 2;