.about-us {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;


}

.about-us header {
    text-align: center;
    margin:2em;
}

.partners {
    text-align: center;
    margin:2em;

}

.partners img {
    height: 1.5em;
    margin:1em;
}


.partners h1 {
    margin: auto;
}
.company-information {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-weight: bold;
    height: 35em;

}


.information-section {
    width: 20em;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
}

.reviews{
 
    text-align: center;
   
}
.reviews img{
    height:4em;
   
}