.email-index {
    
  
    display: flex;
    flex-direction: column;
    background: $clr2;
}
.main-filter {
    /* margin-top:10px; */
}

.main-content {
   background-color:#fff ;
   padding-right:15px;
   margin-right:5px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   margin-bottom: 10px;
   height: 100%;
}
