.email-index {
    display: flex;
    flex-direction: column;
    background: $clr2;
}


.main-content {
   background-color:#fff ;
   padding-right:15px;
   margin:0 5px 10px 0;
   border-radius: 0px 0px 8px 8px;
   height: 100%;
}
