.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $clr2;


    .sign-in-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 25em;
        min-height: 25em;
        border-radius: 2em;
    }
    
    
    
    .btn-signup-container {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em;
    }
    
    .additional-links {
        display: flex;
        flex-direction: raw;
        align-items: center;
    }
    
}
