.main-app{
    display:grid;
    grid-template-columns:1fr 9fr;
    grid-template-rows:1fr 30fr;
    gap:10px;
    height: 100vh;

    grid-template-areas:
    "header header"
    "side main";
}

.app-header{
    grid-area: header;
}

.app-side {
    grid-area: side;
}
.app-main{
    grid-area: main;
}

