.main-app{
    display:grid;
    grid-template-columns:1fr 10fr;
    grid-template-rows:1fr 30fr;
    height: 100vh;

    grid-template-areas:
    "side header"
    "side main";
}

.app-header{
    grid-area: header;
}

.app-side {
    grid-area: side;
}
.app-main-area{
    grid-area: main;
    background: #eef2f5;
}

