.main-app{
    display:grid;
    grid-template-columns:em(200px) 1fr;
    grid-template-rows:em(70px) 1fr;
    height: 100vh;

    grid-template-areas:
    "side header"
    "side main";
}

.app-header{
    grid-area: header;
}

.app-side {
    grid-area: side;
    background: $clr2;
    min-width: 4em;
}
.app-main-area{
    grid-area: main;
    background: $clr2;
}

/*mobile*/
@media screen and (max-width: 768px) {
    .main-app{
        display:grid;
        grid-template-columns:em(50px) 1fr;
        grid-template-rows:em(70px) 1fr;
        height: 100vh;
    
        grid-template-areas:
        "side header"
        "side main";
    }
}