.app-header {
    background: #eef2f5;
    color: rgb(27, 26, 26);
    padding:5px;

}
.search-area{
    padding-right: 10px;
    padding-left:10px;
    display: flex;
    align-items: center;
    height: 50px;
    border-radius: 25px;
    background:#daeaf8;
    /* padding:15px; */
}
.search-box {
    border:none;
    background:#daeaf8;
}

.clicked-input {
    border:none;
    background:#f2f3f3;
}
/* 
input:focus {
    outline: none;
  } */

.search-submit {
    border:none;
    background:#daeaf8;
    transition: background-color 0.3s, box-shadow 0.1s;
    cursor: pointer;
}

.search-submit:hover {
    background-color: #b8c2cf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.app-header section.container {
    display: flex;
    justify-content: left;

}

/* .app-header h1.logo {
    flex-grow: 1;
    font-weight: 600;
}

.app-header .back {
    flex-grow: 1;
}

.app-header nav a:not(:last-child) {
    margin-right: 10px;
}

.app-header section.container>section {
    flex-grow: 1;
} */