.app-header {
    background:  #f0f4f9;
    padding:5px;
    display: flex;
    flex-wrap:nowrap;
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left:10px;
    height: 45px;
    border-radius: 25px;
    background:#daeaf8;
   
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}


.search-area.search-area-clicked {
    background:#fff;
}

.search-input {
    border:none;
    background:#daeaf8;
    width:400px;
}

.search-input.search-area-clicked {
    background:#fff;
}

input:focus {
    outline: none;
    background-color: #fff;
  } 

.search-submit {
    border:none;
    background:#daeaf8;
    transition: background-color 0.3s, box-shadow 0.1s;
    cursor: pointer;
}


.search-submit.search-area-clicked {
    background:#fff;
}

.search-submit:hover {
    background-color: #b8c2cf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

