.email-folder-list {
    display: flex;
    flex-direction: column;
    align-items:start;
    background: #eef2f5;
    height: 100%;
    /* min-width: 100px; */
    /* align-items: center; */
}

.image-with-text {
    display: flex;
    /* justify-content: center; Align items vertically in the center */
    margin:10px;
  }

  .compose-button {
    background-color: rgb(164, 218, 250);
    border-radius: 15px;
    padding:17px;
    border: 0px ;
    /* font-size: 18px; */
    margin:10px;
  }

  .email-folder-icon{
      height: 20px;
      width: 20px;
      margin: 10px;
  }
  