 .email-preview {
     display: flex;
     font-size: 1em;
     background: #fff;
     color: rgb(68, 67, 67);
     border-bottom: 1px solid #ddd;
     padding: 7px;
     cursor: pointer;
     transition: background-color 0.3s, box-shadow 0.3s;
 }

 .email-line {
     display: flex;
     flex-wrap: wrap;
     flex: 1;
 }

 .email-preview-subject,
 .email-preview-from,
 .email-preview-sent-at {
     margin-right: 10px;
 }

 .email-not-read {
     font-weight: bold;
 }

 .email-preview-from {
     /* min-width: 150px; */
 }

 .email-preview-body {
     flex: 1;
     /* flex-shrink: 1;  */
     margin-left: 15px;
     max-width: 600px;
     padding-right: 20px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .email-preview-sent-at {
     margin-left: auto;
 }

 .email-preview:hover {
     background-color: #ece6e6;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
 }

 .icon {
     height: 20px;
     width: 20px;
     margin: 2px;
     cursor: pointer;
 }