.index-header {
    background:  #f0f4f9;
    padding:5px;
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: center;
    height:70px;
    padding-right: 2em;
}

.search-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left:10px;
    height: 45px;
    border-radius: 25px;
    background:#daeaf8;
   
}
.avatar {

}


.search-area-clicked,
.search-area-clicked * {
  background-color: white;
  /* Add any other styles you want to apply when the search-area is clicked */
}


.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:nowrap;
}

.search-form input {
    border:none;
    background:inherit;
    width:400px;
}

.search-form input:focus {
    outline: none;
} 

.search-form button {
    border:none;
    background:inherit;
    transition: background-color 0.3s, box-shadow 0.1s;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #b8c2cf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
/*
.search-form button img:hover {
    background-color:inherit;
}

*/

